//header
.js-global-head{
    overflow: hidden;
}

//Hero
.m-immersive-hero{
    &-item{
        //height: 100vh;
    }
    .c-price{
        margin-left: calc(~"50% - 28px");
        padding-top: 16px;
    }
    .c-caption-2{
        margin-top: 6px;
    }
}
a.m-background-blue{
    background-color: @ms-blue;
    padding: 12px 24px;
    margin: 24px 12px;
    color: @white;
}
a.m-background-neutral-20{
    background-color: #cccccc;
    padding: 12px 24px;
    color: @black;
}

.m-immersive-hero-item.f-align-top>div>div{
    top: 20px !important;
}
.cta{
    clear: both;
    margin-top: 36px !important;
}
//Pivot1
.c-pivot{
    .f-center{
        justify-content: center;
        padding-top: 10px;
        .c-flipper{
            display: none;
        }
        @media @smartphones{
            padding-top: 0;
            .c-flipper{
                display: inline-block;
            }
        }

    }
    .sticky-tabs{
        padding: 20px 5% !important;
        background: @white;
        z-index: 200 !important;
        height: 80px;

        @media @smartphones{
            padding: 20px 0;
        }

        h3{
            padding-top:10px !important;
            font-weight: 500;
        }
        header{
            display: inline-block;
            max-width: 80%;
            overflow: hidden;
        }
    }
    .sticky-element-not-sticky{
        .f-center{
            margin: 0 10%;
           
            @media @tablets{
                margin:0;
                width: 100%;
                
            }
            @media @smartphones{
                margin: 0 auto;
                width: auto;
                .c-flipper{
                    display: inline-block;
                }
            }
        }
    }
    .sticky-element-sticky{
        height: auto;

    }
    a.pivot-scroll{
        margin: 0 24px;
        display: inline-block;
        
        &.f-active{
            border-bottom: 2px @ms-blue solid;
            font-weight: 500;
        }
        @media @tablets{
            margin: 0 18px;
        }
        @media @smartphones{
            margin: 0 4px;
        }
    }
    .buy-box{
        text-align: right;
        @media @smartphones{
            text-align: center;
            padding-top: 4px;
        }
    }
    .product{
        text-align: left;
        @media @smartphones{
            text-align: center;
        }
    }
}

//Feature Group
.m-feature-group{
    margin-top:0;
}

//two_sections
.centered{
    img{
        margin: 10px auto;
    }
}
.get-started{
    padding-bottom: 24px;
    h2{
        font-weight: 100;
    }
    .c-logo{
        height: 133px;
    }
    .c-heading-3, .c-paragraph{
        width: 80%;
        margin: auto 10%;
    }
}
//Second Pivot
.m-multi-feature{

    padding-bottom: 24px;
    clear: both;
    .m-area-heading{
        padding-top: 12px;
        padding-bottom: 12px;
        .c-paragraph{
            max-width: 60%;
            margin: 0 auto;
        }
    }
    .c-pivot > section > p.c-paragraph{
        max-width: 75%;
        margin: 0 auto;
    }
}


//Three Dark
#three_dark{
    //overflow: hidden;
    color: #919191;
    .c-{
        @media @smartphones{
            max-width: 95%;
        }
    }
    .m-feature .c-paragraph{
        color: #919191;
        max-width: 70%;
        margin: 0 auto;
       
        a.highlight{
            color: @white;
            text-decoration: underline;
            &:hover{
                color: #919191;
            }
        }
    }
    .m-content-placement-item{
        text-align: center;
        padding-bottom: 24px;
        min-height: 620px;
        @media @smartphones{
            clear: both;
        }
        &:hover{
            color: @white;
            button{
                background: darken(@ms-blue, 20%);
            }
        }
        img{
            width: auto;
        }
        picture{
            min-height: 300px;
        }
        h2, h3{
            color:@white;
        }
      
    }
    .c-price{
        width: 60px;
        margin: 0 auto;
        padding: 8px 0;
        color: @white;
    }
    button{
        background: @ms-blue;
        color: @white;
        &:hover{
            backgrond: darken(@ms-blue, 20%);
        }
    }
}

//mutli feature tile
#m-multi-tiles{
    ul{display: flex;}
    &>section>[role=tablist]{
        a.f-active{
            text-decoration: underline;
        }
        z-index: 2;
        width: auto;
        background: @smoke;
        margin-top: -100px;
        padding: 30px;
   
        li.li-active{
            padding-bottom: 4Px;
            border-bottom: 4px solid @ms-blue;
        }
    }   
}

#videoButton{
    color:@ms-blue;
    background: transparent !important;
    &:hover{
        color: darken(@ms-blue, 10%);
        background: transparent !important;
    }
    // &:before{
    //     width: 16px;
    //     height: 16px;
    //     color: @white;
    //     background: @ms-blue;
    //     border-radius: 10px;
    //     font-size: 8px;
    //     margin-right: 3px;
    //     line-height: 16px;
    //     text-align: center;
    // }
   
}