//HEADER START
#headerArea{
    position: absolute;
    width: 100%;
    top: 0;
    background: transparent;
    z-index: 10;
}

.c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>a:hover,.context-uhf .theme-light, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>a:focus, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>button:hover, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>button:focus, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>[aria-expanded="true"], .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>ul{
    background: transparent;
}

//waffle menu fixes

header {
    &.context-uhf {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 0;

        background: transparent !important;
    }
    .visible-v5{
        display: none;
        @media screen AND (min-width:1240px){
            display: inline-block;
        }
    }
}

.search-icon {
    display: inline-block;
    width: 16px;
    position: relative;
    left: -212px;
    top: 15px;
}

.c-universal-header {
    .c-uhf-menu > a:hover {
        cursor: pointer;
        &:before {
            display: block;
        }
    }
    &>div>div {
        max-width: 1600px;
    }
    .c-uhf-menu > a::before {
        background: currentColor;
        content: "";
        display: none;
        height: 2px;
        position: absolute;
    }
    &>div:first-child {
        .c-uhf-menu>a::before {
            border: none;
            width: calc(~"100% - 24px");
            bottom: 10px;
            margin-left: 16px;
        }
    }
}
.c-search button:before {
    content: "";
    text-indent: 0px;
    font-size: 16px;
}

@media only screen and (min-width: 1400px) {
    .exp-9514823286 #search::after {
        content: 'Search';
        float: right;
        position: relative;
        top: -2px;
        font-family: inherit;
        font-size: 15px;
    }
    .exp-9514823286 #search::after {
        font-size: 13px;
        left: -4px;
        top: 0;
    }
}

.exp-menu-pad {
    position: relative;
    &>span {
        width: 4px;
        height: 4px;
        background-color: #000;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    &>span.exp-2 {
        left: 6px;
    }
    &>span.exp-3 {
        left: 12px;
    }
    &>span.exp-4 {
        top: 6px;
    }
    &>span.exp-5 {
        left: 6px;
        top: 6px;
    }
    &>span.exp-6 {
        left: 12px;
        top: 6px;
    }
    &>span.exp-7 {
        top: 12px;
    }
    &>span.exp-8 {
        left: 6px;
        top: 12px;
    }
    &>span.exp-9 {
        left: 12px;
        top: 12px;
    }
    & p {
        display: inline-block!important;
        font-size: 13px;
        position: relative;
        top: -2px;
    }
}
.FUI {
    margin-left: 20px;
    span {
        display: inline-block;
        font-size: 13px;
        position: relative;
        top: -2px;
        padding-left: 4px;
    }
}

.nav-icons {
    position: relative;
    top: 17px;
    float: right;
    &>span {
    cursor: pointer;
    }
}
@media only screen and (max-width: 1200px) {
    .nav-icons > span > span {
    display: none;
    }
    .nav-icons .exp-menu-pad {
        span {
            display:inline-block;
            }
        p {
        display: none!important;
        }
    padding-right: 20px;
    }
}
.nav-icons>span:hover>span,
.exp-menu-pad:hover p {
    text-decoration: underline;
}

#der-waffle {
    display: inline-block;
    height: 16px;
    width: 20px;
    margin-top: -2px;
}

#nav-menu {
    font-size: 13px;
    top: -2px;
    position: relative;
    &:hover {
    text-decoration: underline;
    }
}


.exp-singlestack-v2 #uhfCatLogo, .exp-singlestack-v2 #windows-mixed-reality{
    border: 1px solid transparent;
    margin: 1px 0 1px 1px;
    padding: 0 25px 0 6px;
    &:hover:before {
        width: calc(~"100% - 32px");
        bottom: -3px;
        margin-left: 8px;
    }
    span{
        font-size: 13px;
        line-height: 46px;
    }
    &::after{
        content: url('../assets/video/chev-1.svg');
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
    }
}


//header for macro version
.solid-waffle.b_video{
    .js-global-head{
        background: transparent !important;
    }
    .context-uhf{
        background-color: rgba(255,255,255,.75)
    }
}

.c-uhf-menu a {
    position: relative;
    font-size: 13px;
    padding: 13px 8px 13px 16px;
    }

nav .active-links{
    font-weight: 700;
}

//header for video version
.minor-fade.b_video, .solid-waffle.b_video, .faded-waffle.b_video{
    header.context-uhf{
        background: rgba(255,255,255,.75) !important;
    }
}

.spinner {
    &.b_video {
        section.c-pivot {
            margin-top: 0;
        }
        .buybox.v2 {
            margin-bottom: 50px;
        }
    }
}

