#headerArea{
    position: absolute;
    width: 100%;
    top: 0;
    background: transparent;
    z-index: 10;

}

.c-uhfh>[class*="theme-"] .c-action-trigger, .c-uhfh>[class*="theme-"] .c-logo, #uhf-shopping-cart, .c-uhfh>[class*="theme-"] .c-uhf-nav-link, .c-uhfh>[class*="theme-"] .c-uhf-menu a, .c-uhfh>[class*="theme-"] .c-uhf-menu button, .c-uhfh>[class*="theme-"] .c-me:not(.msame_open) .msame_Header_name{
    color: @white;
}
.c-uhfh>[class*="theme-"] .c-uhf-menu>button[aria-expanded="true"], .c-uhfh>[class*="theme-"] .c-uhf-menu>ul{
    background: rgba(0,0,0,.75);
    &:hover{
        background: rgba(0,0,0,.75);
    }
}
.c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>a:hover, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>a:focus, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>button:hover, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>button:focus, .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>[aria-expanded="true"], .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>ul{
    background: transparent;
}

.solid-waffle.b_video{
    .js-global-head{
        background: @white !important;
    }
}

.c-uhf-menu button {
    font-size: 13px;
    padding: 13px 8px 13px 26px;
  }
  nav div:first-of-type button span {
    font-weight: bold;
  }
nav .active-links{
    font-weight: 700;
}
//   .c-uhf-menu button {
//     font-size: 13px;
//     padding: 13px 8px 13px 26px;
//   }
//   nav div:first-of-type button span {
//     font-weight: bold;
//   }
//   .c-universal-header>div:first-child .c-uhf-menu>button:before {
//     bottom: 11px;
//     width: 60%;
//   }