#headerArea {
  position: absolute;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 10;
}
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > a:hover,
.context-uhf .theme-light,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > a:focus,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > button:hover,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > button:focus,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > [aria-expanded="true"],
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > ul {
  background: transparent;
}
header.context-uhf {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  background: transparent !important;
}
header .visible-v5 {
  display: none;
}
@media screen AND (min-width: 1240px) {
  header .visible-v5 {
    display: inline-block;
  }
}
.search-icon {
  display: inline-block;
  width: 16px;
  position: relative;
  left: -212px;
  top: 15px;
}
.c-universal-header .c-uhf-menu > a:hover {
  cursor: pointer;
}
.c-universal-header .c-uhf-menu > a:hover:before {
  display: block;
}
.c-universal-header > div > div {
  max-width: 1600px;
}
.c-universal-header .c-uhf-menu > a::before {
  background: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
}
.c-universal-header > div:first-child .c-uhf-menu > a::before {
  border: none;
  width: calc(100% - 24px);
  bottom: 10px;
  margin-left: 16px;
}
.c-search button:before {
  content: "";
  text-indent: 0px;
  font-size: 16px;
}
@media only screen and (min-width: 1400px) {
  .exp-9514823286 #search::after {
    content: 'Search';
    float: right;
    position: relative;
    top: -2px;
    font-family: inherit;
    font-size: 15px;
  }
  .exp-9514823286 #search::after {
    font-size: 13px;
    left: -4px;
    top: 0;
  }
}
.exp-menu-pad {
  position: relative;
}
.exp-menu-pad > span {
  width: 4px;
  height: 4px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.exp-menu-pad > span.exp-2 {
  left: 6px;
}
.exp-menu-pad > span.exp-3 {
  left: 12px;
}
.exp-menu-pad > span.exp-4 {
  top: 6px;
}
.exp-menu-pad > span.exp-5 {
  left: 6px;
  top: 6px;
}
.exp-menu-pad > span.exp-6 {
  left: 12px;
  top: 6px;
}
.exp-menu-pad > span.exp-7 {
  top: 12px;
}
.exp-menu-pad > span.exp-8 {
  left: 6px;
  top: 12px;
}
.exp-menu-pad > span.exp-9 {
  left: 12px;
  top: 12px;
}
.exp-menu-pad p {
  display: inline-block !important;
  font-size: 13px;
  position: relative;
  top: -2px;
}
.FUI {
  margin-left: 20px;
}
.FUI span {
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: -2px;
  padding-left: 4px;
}
.nav-icons {
  position: relative;
  top: 17px;
  float: right;
}
.nav-icons > span {
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .nav-icons > span > span {
    display: none;
  }
  .nav-icons .exp-menu-pad {
    padding-right: 20px;
  }
  .nav-icons .exp-menu-pad span {
    display: inline-block;
  }
  .nav-icons .exp-menu-pad p {
    display: none!important;
  }
}
.nav-icons > span:hover > span,
.exp-menu-pad:hover p {
  text-decoration: underline;
}
#der-waffle {
  display: inline-block;
  height: 16px;
  width: 20px;
  margin-top: -2px;
}
#nav-menu {
  font-size: 13px;
  top: -2px;
  position: relative;
}
#nav-menu:hover {
  text-decoration: underline;
}
.exp-singlestack-v2 #uhfCatLogo,
.exp-singlestack-v2 #windows-mixed-reality {
  border: 1px solid transparent;
  margin: 1px 0 1px 1px;
  padding: 0 25px 0 6px;
}
.exp-singlestack-v2 #uhfCatLogo:hover:before,
.exp-singlestack-v2 #windows-mixed-reality:hover:before {
  width: calc(100% - 32px);
  bottom: -3px;
  margin-left: 8px;
}
.exp-singlestack-v2 #uhfCatLogo span,
.exp-singlestack-v2 #windows-mixed-reality span {
  font-size: 13px;
  line-height: 46px;
}
.exp-singlestack-v2 #uhfCatLogo::after,
.exp-singlestack-v2 #windows-mixed-reality::after {
  content: url('../assets/video/chev-1.svg');
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
.solid-waffle.b_video .js-global-head {
  background: transparent !important;
}
.solid-waffle.b_video .context-uhf {
  background-color: rgba(255, 255, 255, 0.75);
}
.c-uhf-menu a {
  position: relative;
  font-size: 13px;
  padding: 13px 8px 13px 16px;
}
nav .active-links {
  font-weight: 700;
}
.minor-fade.b_video header.context-uhf,
.solid-waffle.b_video header.context-uhf {
  background: rgba(255, 255, 255, 0.75) !important;
}
.spinner.b_video section.c-pivot {
  margin-top: 0;
}
.spinner.b_video .buybox.v2 {
  margin-bottom: 50px;
}
.b_video .js-global-head {
  position: relative;
  height: 50px;
  padding: 0 5%;
}
.b_video .js-global-head #uhf-c-nav {
  margin-top: 4px;
}
.b_video .js-global-head .c-logo {
  width: 137px;
  height: 96%;
  margin-top: 1px;
  padding: 13px 20px 14px 12px;
  margin-left: -12px;
  float: left;
}
.b_video .js-global-head .c-uhf-menu button::after {
  content: '';
}
.b_video .js-global-head .nav-icons {
  float: right;
}
.b_video .js-global-head #uhf-c-nav {
  float: left;
}
.b_video .js-global-head .exp-menu-pad:hover p {
  text-decoration: none;
  border-bottom: solid 1px #000000;
}
.b_video .c-uhfh-gcontainer {
  z-index: 2;
}
.b_video #More-navigation:hover {
  background: rgba(0, 0, 0, 0.75);
}
.b_video #More-navigation + ul {
  margin-left: -25%;
}
.b_video .c-uhfh > div:first-child .c-uhf-menu > ul {
  background: rgba(0, 0, 0, 0.75);
}
.b_video .c-uhfh > div:first-child .c-uhf-menu a,
.b_video .c-uhfh > div:first-child .c-uhf-menu button {
  color: #ffffff;
}
.b_video h2 {
  font: 700 32px/38px "Segoe UI";
}
.b_video section.c-pivot {
  margin-top: -170px;
  margin-bottom: 50px;
}
.dark {
  background-color: #000000 !important;
}
.m-feature-group {
  background: #ffffff;
}
#three_dark {
  color: #919191;
  margin-top: 60px;
  padding-bottom: 100px;
}
#three_dark .m-feature .c-paragraph {
  color: #919191;
  max-width: 70%;
  margin: 0 auto;
}
#three_dark .m-feature .c-paragraph a.highlight {
  color: #ffffff;
  text-decoration: underline;
}
#three_dark .m-feature .c-paragraph a.highlight:hover {
  color: #919191;
}
#three_dark picture {
  text-align: center;
}
#three_dark .m-content-placement-item {
  text-align: left;
  padding-bottom: 0;
  min-height: 580px;
  color: #ffffff;
}
@media only screen and (max-width: 479px) {
  #three_dark .m-content-placement-item {
    clear: both;
  }
}
#three_dark .m-content-placement-item:hover > div .c-heading {
  text-decoration: none;
}
#three_dark .m-content-placement-item img {
  width: auto;
}
#three_dark .m-content-placement-item picture {
  min-height: 300px;
}
#three_dark .m-content-placement-item h2,
#three_dark .m-content-placement-item h3 {
  color: #ffffff;
}
#three_dark .m-content-placement-item .c-paragraph {
  max-width: 80%;
}
#three_dark .m-content-placement-item .c-heading {
  font-size: 24px;
  font-weight: 100;
  padding-top: 48px;
  padding-bottom: 24px;
}
#three_dark .m-content-placement-item button:hover {
  background: #002e52;
}
#three_dark .m-content-placement-item p {
  color: #919191;
}
#three_dark .m-content-placement-item .c-list {
  text-align: left;
  max-width: 300px;
}
#three_dark .c-price {
  width: 60px;
  padding: 8px 0;
  color: #ffffff;
}
#three_dark button {
  background: #0067b8;
  color: #ffffff;
}
#three_dark button:hover {
  background: #002e52;
}
#three_dark #shop-all {
  text-align: center;
  padding-top: 30px;
}
#three_dark #shop-all a.c-call-to-action {
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
}
#three_dark #shop-all a.c-call-to-action:hover span {
  text-decoration: underline;
}
.m-immersive-hero .c-price {
  margin-left: calc(50% - 28px);
  padding-top: 16px;
}
.m-immersive-hero .c-caption-2 {
  margin-top: 6px;
}
a.m-background-blue {
  background-color: #0067b8;
  padding: 12px 24px;
  margin: 24px 12px;
  color: #ffffff;
}
a.m-background-neutral-20 {
  background-color: #cccccc;
  padding: 12px 24px;
  color: #000000;
}
.cta {
  clear: both;
  margin-top: 36px !important;
}
.c-pivot .f-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}
.c-pivot .f-center .c-flipper {
  display: none;
}
@media only screen and (max-width: 479px) {
  .c-pivot .f-center {
    padding-top: 0;
  }
  .c-pivot .f-center .c-flipper {
    display: inline-block;
  }
}
.c-pivot .sticky-tabs {
  padding: 10px 5% !important;
  background: #ffffff;
  z-index: 50 !important;
  height: 80px;
}
@media only screen and (max-width: 479px) {
  .c-pivot .sticky-tabs {
    padding: 20px 0;
  }
}
.c-pivot .sticky-tabs h3 {
  padding-top: 10px !important;
  font-weight: 500;
}
.c-pivot .sticky-tabs header {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
}
.c-pivot .sticky-tabs .price-text {
  float: left;
  width: calc(100% - 140px);
}
.c-pivot .sticky-tabs .price-text span {
  margin-top: 10px;
  float: right;
}
.c-pivot .sticky-element-not-sticky .f-center {
  margin: 0 10%;
}
@media only screen and (min-width: 768px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    margin: 0 auto;
    width: auto;
  }
  .c-pivot .sticky-element-not-sticky .f-center .c-flipper {
    display: inline-block;
  }
}
.c-pivot .sticky-element-sticky {
  height: auto;
  border-bottom: 1px solid #e6e6e6;
}
.c-pivot .sticky-element-sticky > div {
  max-width: 1600px;
  margin: 0 auto;
}
.c-pivot a.pivot-scroll {
  margin: 0 24px;
  display: inline-block;
  opacity: .6;
}
.c-pivot a.pivot-scroll:hover {
  opacity: 1;
}
.c-pivot a.pivot-scroll.f-active {
  border-bottom: 4px #0067b8 solid;
  font-weight: 700;
  padding-bottom: 6px;
  font-size: 15px;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .c-pivot a.pivot-scroll {
    margin: 0 18px;
  }
}
@media only screen and (max-width: 479px) {
  .c-pivot a.pivot-scroll {
    margin: 0 4px;
  }
}
.c-pivot .buy-box {
  text-align: right;
}
@media only screen and (max-width: 479px) {
  .c-pivot .buy-box {
    text-align: center;
    padding-top: 4px;
  }
}
.c-pivot .buy-box a.c-call-to-action:after {
  content: '';
}
.c-pivot .product {
  text-align: left;
}
@media only screen and (max-width: 479px) {
  .c-pivot .product {
    text-align: center;
  }
}
#comparison .c-list > li {
  display: list-item;
  height: auto;
  white-space: normal;
}
.m-feature-group {
  margin-top: 0;
}
.centered img {
  margin: 10px auto;
}
.get-started {
  padding-bottom: 24px;
}
.get-started h2 {
  font-weight: 100;
  padding-bottom: 10px;
}
.get-started .c-logo {
  height: 133px;
}
.get-started .c-paragraph {
  width: 80%;
  margin: auto 10%;
}
.m-multi-feature {
  clear: both;
}
.m-multi-feature .m-area-heading {
  padding-top: 0;
  padding-bottom: 24px;
}
.m-multi-feature .m-area-heading .c-paragraph {
  max-width: 60%;
  margin: 0 auto;
}
.m-multi-feature .c-pivot > section > p.c-paragraph {
  max-width: 95%;
  margin: 0 auto;
}
.m-multi-feature .m-ambient-video {
  padding: 0;
  height: 0;
  padding-bottom: 37%;
}
.m-multi-feature .m-ambient-video video {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
.m-multi-feature.f-align-center > section > .c-pivot > section,
.m-multi-feature.f-align-center > section > ul {
  max-width: 735px;
  width: 100%;
}
#m-multi-description {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 10%;
  display: block;
  -webkit-transform: translate3d(-10%, -40%, 0);
  transform: translate3d(-10%, -40%, 0);
  color: #ffffff;
  text-align: left;
  width: 25%;
}
#m-multi-description a {
  color: #ffffff;
}
.background-skew {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  min-height: 100%;
  width: 40%;
  z-index: 2;
  position: absolute !important;
  overflow: visible !important;
}
#m-multi-tiles {
  padding-top: 100px;
}
#m-multi-tiles [role=tablist] li > a.f-active .c-image {
  border: 1px solid #ffffff;
}
#m-multi-tiles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#m-multi-tiles > section > [role=tablist] {
  z-index: 3;
  width: auto;
  background: #f0f0f0;
  margin-top: -100px;
  padding: 30px;
}
#m-multi-tiles > section > [role=tablist] a.f-active {
  text-decoration: underline;
  outline: #fff solid 1px;
}
#m-multi-tiles > section > [role=tablist] li.li-active {
  padding-bottom: 4Px;
  border-bottom: 4px solid #0067b8;
}
#m-multi-tiles [role=tablist] li:last-of-type {
  margin-right: 0;
}
#m-multi-tiles .c-image img {
  width: 100%;
}
#m-multi-tiles a.playme {
  cursor: pointer;
}
#videoButton {
  color: #0067b8;
  background: transparent !important;
}
#videoButton:hover {
  color: #004a85;
  background: transparent !important;
}
#vid-slides {
  padding-top: 70px;
  padding-bottom: 40px;
}
.glyph-play,
.glyph-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 26px;
  color: #fff !important;
  z-index: 5;
}
.glyph-play:before,
.glyph-pause:before {
  position: absolute;
  left: calc(50%);
  top: calc(50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.glyph-play:hover,
.glyph-pause:hover {
  opacity: 0.8;
}
.glyph-pause:before {
  content: "||";
}
#footerArea {
  clear: both;
}
#immerse {
  overflow: hidden;
}
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
#light {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}
#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}
.boxclose:before {
  content: "×";
}
#fade:hover ~ #boxclose {
  display: none;
}
.test:hover ~ .test2 {
  display: none;
}
.hero {
  position: relative;
}
.hero.v2.v1 {
  overflow: visible;
  z-index: 1;
  margin-bottom: 10%;
}
.hero.v2.v1.video {
  height: 30vh;
  background: none;
}
.hero.v2.v1.video [data-grid=container] {
  bottom: 200px;
  padding-left: 7.5%;
  padding-right: 7.5%;
}
.hero.v2.v1 [data-grid=container] {
  position: relative;
}
.hero video {
  position: absolute;
  width: 100%;
}
.hero.fixed-car {
  margin-bottom: 200px;
}
.hero.fixed-car .m-immersive-hero {
  max-height: 80vh;
}
.hero.fixed-car .m-immersive-hero .c-sequence-indicator {
  bottom: 26%;
}
.hero.fixed-car .m-immersive-hero img {
  max-width: 100%;
}
.video-wrapper {
  height: 0;
  padding-bottom: 54.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.video-wrapper video {
  width: 101%;
}
.buybox.v2 {
  position: relative;
  z-index: 9;
  background: #fff;
  color: #000;
  text-align: left;
  padding: 25px;
  -webkit-box-shadow: 0px 8px 48px -2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 8px 48px -2px rgba(0, 0, 0, 0.28);
  height: auto;
  max-width: 1600px;
  margin-top: 0;
  width: 100%;
  float: left;
}
.buybox.v2 h1 {
  color: #000;
  text-align: left;
  font: 700 30px/34px "Segoe UI";
  padding: 0;
}
.buybox.v2 .by-ms {
  padding: 10px 0;
}
.buybox.v2 a.f-blue {
  color: #0067b8 !important;
}
.buybox.v2 a.f-blue:hover {
  text-decoration: underline;
}
.buybox.v2 a.add-cart,
.buybox.v2 a.store {
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font: 400 15px/20px "Segoe UI";
}
.buybox.v2 .add-cart {
  background: #0067b8;
  margin-bottom: 6px;
}
.buybox.v2 .add-cart:hover {
  background: #004a85;
}
.buybox.v2 .store {
  background: #8A94A4;
}
.buybox.v2 .store:hover {
  background: #6e7a8d;
}
.buybox.v2 .price {
  font: 400 20px/26px "Segoe UI";
  padding-bottom: 5px;
}
.buybox.v2 .price-text span {
  font: 400 20px/26px "Segoe UI";
}
.buybox.v2 p.c-caption-3.x-hidden-focus {
  font: 400 13px/12px "Segoe UI";
  padding-bottom: 15px;
}
.buybox.v2 .save {
  font: 700 15px/14px "Segoe UI";
  padding-bottom: 5px;
  padding-top: 20px;
}
.buybox.v2 .leading-actions {
  font-size: 13px;
}
.buybox.v2 .leading-actions .secondary-cta {
  color: #dc3c01;
}
ul.bullets {
  list-style: disc;
  padding: 10px 0 20px 20px;
  max-width: 90%;
}
ul.bullets li {
  font-weight: 300;
  font-family: SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul.bullets li a {
  font-size: 14px;
  font-weight: 800;
}
.hr-or {
  padding: 6px 0 10px 0;
  position: relative;
}
.hr-or hr {
  display: inline-block;
  width: 100%;
  opacity: .5;
}
.hr-or span {
  top: 0;
  position: absolute;
  font-size: 13px;
  background: #fff;
  padding: 5px 15px;
  display: block;
  z-index: 1;
  right: 43%;
}
#additional-features.centered img {
  width: 100px;
}
.v2 .m-hero-item {
  float: left;
  clear: both;
  margin-top: -50px;
}
.v2 .m-hero-item > div {
  width: 100%;
  height: 100%;
}
.row.details {
  max-width: 100%;
  width: 100%;
  top: 0 !important;
  bottom: 0 !important;
  position: relative;
}
.c-rating {
  padding-bottom: 10px;
}
.f-share:before {
  content: "\E72D";
  height: 14px;
  width: 14px;
  vertical-align: middle;
}
.f-heart {
  margin-right: 20px;
}
.f-heart:before {
  content: "\EB52";
  color: white;
  text-shadow: 1px 0px #000, 0px 1px #000, 0 -1px #000, -1px 0 #000;
  font-size: 14px;
  margin-right: 8px;
  vertical-align: middle;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: background-color 500;
  transition: background-color 500;
  position: fixed;
  display: none;
  z-index: 2100;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.lightbox-container {
  position: relative;
  max-height: 100%;
  margin: auto;
  display: block;
  padding: 0;
  width: 100%;
  z-index: 60;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}
.lightbox-content {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 36px;
  display: block;
  border: none;
  color: white;
  top: 100px;
  right: 100px;
  z-index: 70;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 5%;
  overflow: hidden;
  height: 0;
  width: 70%;
  margin-left: 15%;
}
.video-container iframe,
.video-container object,
.video-container embed {
  max-width: 100%;
  width: 100%;
  height: 79.25vh;
}
.playme {
  position: absolute;
  top: 50%;
}
/* Large screen, retina, stuff to override regular media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  .hero.fixed-car .m-immersive-hero .c-sequence-indicator {
    bottom: 20%;
  }
  .buybox.v2 {
    bottom: 100px;
  }
  .minor-fade .buybox.v2 {
    bottom: -10px;
  }
  .faded-waffle .hero.fixed-car,
  .solid-waffle .hero.fixed-car,
  .no-waffle .hero.fixed-car {
    margin-bottom: 140px;
  }
  .spinner.b_video .buybox.v2 {
    bottom: 0;
  }
}
