#headerArea {
  position: absolute;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 10;
}
#headerArea .context-uhf {
  color: #ffffff;
}
#headerArea .context-uhf > div:first-child .c-uhf-nav-link,
#headerArea .context-uhf > div:first-child .c-uhf-menu button,
#headerArea .context-uhf > div:first-child .c-search button {
  color: #ffffff;
}
.c-uhfh > [class*="theme-"] .c-action-trigger,
.c-uhfh > [class*="theme-"] .c-logo,
#uhf-shopping-cart,
.c-uhfh > [class*="theme-"] .c-uhf-nav-link,
.c-uhfh > [class*="theme-"] .c-uhf-menu a,
.c-uhfh > [class*="theme-"] .c-uhf-menu button,
.c-uhfh > [class*="theme-"] .c-me:not(.msame_open) .msame_Header_name {
  color: #ffffff;
}
.c-uhfh > [class*="theme-"] .c-uhf-menu > button[aria-expanded="true"],
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul {
  background: rgba(0, 0, 0, 0.75);
}
.c-uhfh > [class*="theme-"] .c-uhf-menu > button[aria-expanded="true"]:hover,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul:hover {
  background: rgba(0, 0, 0, 0.75);
}
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > a:hover,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > a:focus,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > button:hover,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > button:focus,
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > [aria-expanded="true"],
.c-uhfh > [class*="theme-"] .c-uhf-menu > ul > li > ul {
  background: transparent;
}
.b_video .js-cat-head {
  background: rgba(0, 0, 0, 0) !important;
}
.b_video .js-global-head {
  position: relative;
  background: rgba(0, 0, 0, 0) !important;
}
.b_video .c-uhfh-gcontainer {
  z-index: 2;
}
.b_video #More-navigation:hover {
  background: rgba(0, 0, 0, 0.75);
}
.b_video #More-navigation + ul {
  margin-left: -25%;
}
.b_video .c-uhfh > div:first-child .c-uhf-menu > ul {
  background: rgba(0, 0, 0, 0.75);
}
.b_video .c-uhfh > div:first-child .c-uhf-menu a,
.b_video .c-uhfh > div:first-child .c-uhf-menu button {
  color: #ffffff;
}
.b_video .m-hero-item {
  overflow: visible;
  height: 700px;
  margin-bottom: 180px;
}
.b_video .m-hero-item .c-rating {
  margin-top: 0;
}
.b_video section.c-pivot {
  margin-top: -170px;
}
.dark {
  background-color: #000000 !important;
}
.m-feature-group {
  background: #ffffff;
}
.m-immersive-hero .c-price {
  margin-left: calc(50% - 28px);
  padding-top: 16px;
}
.m-immersive-hero .c-caption-2 {
  margin-top: 6px;
}
a.m-background-blue {
  background-color: #0078D7;
  padding: 12px 24px;
  margin: 24px 12px;
  color: #ffffff;
}
a.m-background-neutral-20 {
  background-color: #cccccc;
  padding: 12px 24px;
  color: #000000;
}
.cta {
  clear: both;
  margin-top: 36px !important;
}
.c-pivot .f-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}
.c-pivot .f-center .c-flipper {
  display: none;
}
@media only screen and (max-width: 479px) {
  .c-pivot .f-center {
    padding-top: 0;
  }
  .c-pivot .f-center .c-flipper {
    display: inline-block;
  }
}
.c-pivot .sticky-tabs {
  padding: 10px 5% !important;
  background: #ffffff;
  z-index: 200 !important;
  height: 80px;
}
@media only screen and (max-width: 479px) {
  .c-pivot .sticky-tabs {
    padding: 20px 0;
  }
}
.c-pivot .sticky-tabs h3 {
  padding-top: 10px !important;
  font-weight: 500;
}
.c-pivot .sticky-tabs header {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
}
.c-pivot .sticky-tabs .price-text {
  float: left;
  width: calc(100% - 140px);
}
.c-pivot .sticky-tabs .price-text span {
  margin-top: 10px;
  float: right;
}
.c-pivot .sticky-element-not-sticky .f-center {
  margin: 0 10%;
}
@media only screen and (min-width: 768px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .c-pivot .sticky-element-not-sticky .f-center {
    margin: 0 auto;
    width: auto;
  }
  .c-pivot .sticky-element-not-sticky .f-center .c-flipper {
    display: inline-block;
  }
}
.c-pivot .sticky-element-sticky {
  height: auto;
  border-bottom: 1px solid #e6e6e6;
}
.c-pivot .sticky-element-sticky > div {
  max-width: 1600px;
  margin: 0 auto;
}
.c-pivot a.pivot-scroll {
  margin: 0 24px;
  display: inline-block;
}
.c-pivot a.pivot-scroll.f-active {
  border-bottom: 4px #0078D7 solid;
  font-weight: 500;
  padding-bottom: 6px;
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  .c-pivot a.pivot-scroll {
    margin: 0 18px;
  }
}
@media only screen and (max-width: 479px) {
  .c-pivot a.pivot-scroll {
    margin: 0 4px;
  }
}
.c-pivot .buy-box {
  text-align: right;
}
@media only screen and (max-width: 479px) {
  .c-pivot .buy-box {
    text-align: center;
    padding-top: 4px;
  }
}
.c-pivot .product {
  text-align: left;
}
@media only screen and (max-width: 479px) {
  .c-pivot .product {
    text-align: center;
  }
}
.m-feature-group {
  margin-top: 0;
}
.centered img {
  margin: 10px auto;
}
.get-started {
  padding-bottom: 24px;
}
.get-started h2 {
  font-weight: 100;
}
.get-started .c-logo {
  height: 133px;
}
.get-started .c-heading-3,
.get-started .c-paragraph {
  width: 80%;
  margin: auto 10%;
}
.m-multi-feature {
  clear: both;
}
.m-multi-feature .m-area-heading {
  padding-top: 0;
  padding-bottom: 24px;
}
.m-multi-feature .m-area-heading .c-paragraph {
  max-width: 60%;
  margin: 0 auto;
}
.m-multi-feature .c-pivot > section > p.c-paragraph {
  max-width: 75%;
  margin: 0 auto;
}
.m-multi-feature .m-ambient-video {
  padding: 0;
}
#m-multi-description {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 10%;
  display: block;
  -webkit-transform: translate3d(-10%, -40%, 0);
  transform: translate3d(-10%, -40%, 0);
  color: #ffffff;
  text-align: left;
  width: 25%;
}
#m-multi-description a {
  color: #ffffff;
}
.background-skew {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  min-height: 100%;
  width: 50%;
  z-index: 2;
  position: absolute !important;
  overflow: visible !important;
}
#three_dark {
  color: #919191;
  margin-top: 60px;
}
@media only screen and (max-width: 479px) {
  #three_dark .c- {
    max-width: 95%;
  }
}
#three_dark .m-feature .c-paragraph {
  color: #919191;
  max-width: 70%;
  margin: 0 auto;
}
#three_dark .m-feature .c-paragraph a.highlight {
  color: #ffffff;
  text-decoration: underline;
}
#three_dark .m-feature .c-paragraph a.highlight:hover {
  color: #919191;
}
#three_dark .m-content-placement-item {
  text-align: center;
  padding-bottom: 24px;
  min-height: 620px;
  color: #ffffff;
}
@media only screen and (max-width: 479px) {
  #three_dark .m-content-placement-item {
    clear: both;
  }
}
#three_dark .m-content-placement-item:hover > div .c-heading {
  text-decoration: none;
}
#three_dark .m-content-placement-item img {
  width: auto;
}
#three_dark .m-content-placement-item picture {
  min-height: 300px;
}
#three_dark .m-content-placement-item h2,
#three_dark .m-content-placement-item h3 {
  color: #ffffff;
}
#three_dark .m-content-placement-item .c-heading {
  font-size: 24px;
  font-weight: 100;
  padding-top: 48px;
  padding-bottom: 24px;
}
#three_dark .m-content-placement-item button:hover {
  background: #003f71;
}
#three_dark .m-content-placement-item p {
  color: #919191;
}
#three_dark .c-price {
  width: 60px;
  margin: 0 auto;
  padding: 8px 0;
  color: #ffffff;
}
#three_dark button {
  background: #0078D7;
  color: #ffffff;
}
#three_dark button:hover {
  background: #003f71;
}
#m-multi-tiles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#m-multi-tiles > section > [role=tablist] {
  z-index: 3;
  width: auto;
  background: #f0f0f0;
  margin-top: -100px;
  padding: 30px;
}
#m-multi-tiles > section > [role=tablist] a.f-active {
  text-decoration: underline;
}
#m-multi-tiles > section > [role=tablist] li.li-active {
  padding-bottom: 4Px;
  border-bottom: 4px solid #0078D7;
}
#m-multi-tiles [role=tablist] li:last-of-type {
  margin-right: 0;
}
#videoButton {
  color: #0078D7;
  background: transparent !important;
}
#videoButton:hover {
  color: #005ca4;
  background: transparent !important;
}
.glyph-play,
.glyph-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 26px;
  color: #fff !important;
  z-index: 5;
}
.glyph-play:before,
.glyph-pause:before {
  position: absolute;
  left: calc(50%);
  top: calc(50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.glyph-play:hover,
.glyph-pause:hover {
  opacity: 0.8;
}
.glyph-pause:before {
  content: "||";
}
#shellmenu_73 {
  padding-right: 0 !important;
}
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
#light {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}
#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}
.boxclose:before {
  content: "×";
}
#fade:hover ~ #boxclose {
  display: none;
}
.test:hover ~ .test2 {
  display: none;
}
.hero {
  position: relative;
  height: 700px;
}
.hero.v2.v1 {
  overflow: visible;
  z-index: 1;
  margin-bottom: 180px;
}
.hero.v2.v1.video {
  background: none;
}
.hero.v2.v1.video [data-grid=container] {
  bottom: 205px;
}
.hero.v2.v1 [data-grid=container] {
  position: relative;
}
.hero video {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.video-wrapper {
  height: 700px;
  overflow: hidden;
  position: relative;
}
.buybox.v2 {
  position: relative;
  z-index: 9;
  background: #fff;
  color: #000;
  text-align: left;
  padding: 25px;
  -webkit-box-shadow: 0px 8px 48px -2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 8px 48px -2px rgba(0, 0, 0, 0.28);
  height: auto;
  max-width: 1600px;
  margin-top: 0;
  width: 100%;
  bottom: 205px;
  float: left;
  top: 0;
}
.buybox.v2 h1 {
  color: #000;
  text-align: left;
  font: 700 30px/34px "Segoe UI";
  padding: 0;
}
.buybox.v2 .by-ms {
  padding: 10px 0;
}
.buybox.v2 a.f-blue {
  color: #0078D7 !important;
}
.buybox.v2 a.f-blue:hover {
  text-decoration: underline;
}
.buybox.v2 a.add-cart,
.buybox.v2 a.store {
  width: 100%;
  display: block;
  padding: 12px;
  text-align: center;
  color: #ffffff;
  margin: 8px 0;
}
.buybox.v2 .add-cart {
  background: #0078D7;
}
.buybox.v2 .add-cart:hover {
  background: #005ca4;
}
.buybox.v2 .store {
  background: #8A94A4;
}
.buybox.v2 .store:hover {
  background: #6e7a8d;
}
.buybox.v2 .price {
  font: 400 20px/26px "Segoe UI";
  padding-bottom: 5px;
}
.buybox.v2 .price span {
  font: 400 16px/20px "Segoe UI";
}
.buybox.v2 .pric-caption-3 {
  font-weight: 100;
  font-size: 13px;
}
.buybox.v2 .save {
  font: 700 15px/14px "Segoe UI";
  padding-bottom: 5px;
}
.buybox.v2 .leading-actions {
  font-size: 13px;
}
.buybox.v2 .leading-actions .secondary-cta {
  color: #dc3c01;
}
ul.bullets {
  list-style: disc;
  padding: 10px 0 20px 20px;
  max-width: 90%;
}
ul.bullets li {
  font-weight: 300;
  font-family: SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul.bullets li a {
  font-size: 14px;
  font-weight: 800;
}
.hr-or {
  padding: 6px 0 10px 0;
  position: relative;
}
.hr-or hr {
  display: inline-block;
  width: 100%;
  opacity: .5;
}
.hr-or span {
  top: 0px;
  position: absolute;
  font-size: 13px;
  background: #fff;
  padding: 5px 15px;
  display: block;
  z-index: 1;
  right: 43%;
}
#additional-features.centered img {
  width: 100px;
}
.v2 .m-hero-item {
  float: left;
  clear: both;
  margin-top: -50px;
}
.v2 .m-hero-item > div {
  width: 100%;
  height: 100%;
}
.row.details {
  max-width: 100%;
  width: 100%;
  top: 0 !important;
  bottom: 0 !important;
  position: relative;
}
.c-rating {
  padding-bottom: 10px;
}
.f-share:before {
  content: "\E72D";
  height: 14px;
  width: 14px;
  vertical-align: middle;
}
.f-heart {
  margin-right: 20px;
}
.f-heart:before {
  content: "\EB52";
  color: white;
  text-shadow: 1px 0px #000, 0px 1px #000, 0 -1px #000, -1px 0 #000;
  font-size: 14px;
  margin-right: 8px;
  vertical-align: middle;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: background-color 500;
  transition: background-color 500;
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 21;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 7% auto;
  display: block;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}
.lightbox-content {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 3%;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#playme {
  position: absolute;
  top: 50%;
}
