.c-uhfh > [class*="theme-"],
.c-uhfh > div:first-child {
  background: #f0f0f0;
}
.c-uhfh > [class*="theme-"] .c-uhf-menu > button:hover,
.c-uhfh > div:first-child .c-uhf-menu > button:hover,
.c-uhfh > [class*="theme-"] .c-uhf-menu > button:focus,
.c-uhfh > div:first-child .c-uhf-menu > button:focus {
  background: #f0f0f0;
}
.dark {
  background-color: #000000 !important;
}
[data-grid~=col-12] {
  background: #ffffff;
}
.m-immersive-hero .c-price {
  margin-left: calc(50% - 28px);
  padding-top: 16px;
}
.m-immersive-hero .c-caption-2 {
  margin-top: 6px;
}
a.m-background-blue {
  background-color: #0078d7;
  padding: 12px 24px;
  margin: 24px 12px;
  color: #ffffff;
}
a.m-background-neutral-20 {
  background-color: #cccccc;
  padding: 12px 24px;
  color: #000000;
}
.m-immersive-hero-item.f-align-top > div > div {
  top: 20px !important;
}
.cta {
  clear: both;
  margin-top: 36px !important;
}
.c-pivot .f-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
.m-feature-group {
  margin-top: 0;
}
.centered img {
  margin: 0 auto;
}
.get-started {
  padding-bottom: 24px;
}
.get-started h2 {
  font-weight: 100;
}
.m-multi-feature {
  padding-top: 0;
  padding-bottom: 24px;
}
.m-multi-feature .m-area-heading {
  padding-top: 12px;
  padding-bottom: 12px;
}
.m-multi-feature .m-area-heading .c-paragraph {
  max-width: 60%;
  margin: 0 auto;
}
.m-multi-feature .c-pivot > section > p.c-paragraph {
  max-width: 75%;
  margin: 0 auto;
}
#three_dark {
  color: #919191;
}
#three_dark .m-feature .c-paragraph {
  color: #919191;
  max-width: 70%;
  margin: 0 auto;
}
#three_dark .m-feature .c-paragraph a.highlight {
  color: #ffffff;
  text-decoration: underline;
}
#three_dark .m-feature .c-paragraph a.highlight:hover {
  color: #919191;
}
#three_dark .m-content-placement-item {
  text-align: center;
  padding-bottom: 24px;
  min-height: 600px;
}
#three_dark .m-content-placement-item:hover {
  color: #ffffff;
}
#three_dark .m-content-placement-item:hover button {
  background: #003f71;
}
#three_dark .m-content-placement-item img {
  width: auto;
}
#three_dark .m-content-placement-item picture {
  min-height: 300px;
}
#three_dark .m-content-placement-item h2,
#three_dark .m-content-placement-item h3 {
  color: #ffffff;
}
#three_dark .c-price {
  width: 60px;
  margin: 0 auto;
  padding: 8px 0;
  color: #ffffff;
}
#three_dark button {
  background: #0078d7;
  color: #ffffff;
}
