.b_video{
    //ufh
    .js-cat-head{
        opacity: .7;
    }
    .js-global-head{
        position: relative;
        background: @white;
        opacity: .7;
    }
    .c-uhfh-gcontainer{
        z-index: 2;
    }


    //hero
    .m-hero-item{
        margin-top: -100px;
        padding-bottom: 200px;
    }

}