.b_video{
    //ufh
    .js-cat-head{
       
        background: rgba(255, 255, 255, 0.7);
    }
    .js-global-head{
        position: relative;
        background: rgba(255, 255, 255, 0.7) !important;
       
    }
    .c-uhfh-gcontainer{
        z-index: 2;
    }


    //hero
    .m-hero-item{
        margin-top: -20vh;
        margin-bottom: 30vh;
        overflow: visible;
        background-size: contain;
        height: 107vh;
        video{
            width: 100% !important;
        }
    }

}