@import "variables";
.b_video{
    .js-global-head{
        position: relative;
        height: 50px;
        padding: 0 5%;
        .c-logo{
            width: 137px;
            height: 96%;
            margin-top: 1px;
            padding: 13px 20px 14px 12px;
            margin-left: -12px;
            float: left;
        }
        .c-uhf-menu button::after {
            content: '';
        }
        .c-glyph.glyph-chevron-down::before{
            font-size: 9px;
        }
        .nav-icons{
            float: right;
        }
        #uhf-c-nav{
            float: left;
        }
        .exp-menu-pad:hover{
            p{
                text-decoration: none; 
                border-bottom: solid 1px @black;
            }
        }
    }
    .c-uhfh-gcontainer{
        z-index: 2;
    }
    #More-navigation{
        &:hover{
            background: rgba(0,0,0,.75);
        }
        + ul{
            margin-left: -25%;
        }
    }
    .c-uhfh>div:first-child .c-uhf-menu>ul{
        background: rgba(0,0,0,.75);
    }
    .c-uhfh>div:first-child .c-uhf-menu a, .c-uhfh>div:first-child .c-uhf-menu button{
        color: @white;
    }

    h2{
        font: 700 32px/38px "Segoe UI";
    }


    section.c-pivot{
        margin-top: -170px;
        margin-bottom: 50px;
    }
}