.buybox.v2 {
  position: relative;
  z-index: 9;
  background: #fff;
  color: #000;
  text-align: left;
  padding: 25px;
  -webkit-box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  height: 320px;
  max-width: 1600px;
  margin-top: -220px;

  h1 {
  color :#000;
  text-align: left;
  font: 700 30px/34px "Segoe UI";
  padding: 0;
  }
  .by-ms {
    padding: 10px 0;
  }
  a.f-blue{
    color: @ms-blue !important;
    &:hover{
      text-decoration: underline;
    }
  }
  a.add-cart, a.store{
    width: 100%;
    display: block;
    padding: 12px;
    text-align: center;
    color: @white;
    margin: 8px 0;
  }
  .add-cart{
    background: @ms-blue;
    &:hover{
      background: darken(@ms-blue, 10%);
    }
  }
  .store{
    background: #8A94A4;
    &:hover{
      background: darken(#8A94A4, 10%);
    }
  }  

  .price {
    font: 400 20px/26px "Segoe UI";
    padding-bottom: 5px;
  }
  .price span {
    font: 400 16px/20px "Segoe UI";
  }
  .pric-caption-3{
    font-weight: 100;
    font-size: 13px;
  }
  .save {
    font: 700 15px/14px "Segoe UI";
    padding-bottom: 5px;  
  }
  .leading-actions {
    font-size: 13px;
  }
  .leading-actions .secondary-cta {
    color: #dc3c01;
  }
}
  ul.bullets {
    list-style: disc;
    padding: 10px 0 20px 20px;
    max-width: 90%;
  }
  
  ul.bullets li {
    font-weight: 100;
  }
  ul.bullets li a {
    font-size: 14px;
    font-weight: 800;
  }
  
  .hr-or {
    padding: 6px 0 10px 0;
    position: relative;
  }
  .hr-or hr {
    display: inline-block;
    width: 100%;
    opacity: .5;
  }
  .hr-or span {
    top: 0px;
    position: absolute;
    font-size: 13px;
    background: #fff;
    padding: 5px 15px;
    display: block;
    z-index: 1;
    right: 43%;
  }
  
  #additional-features.centered img {
    width: 100px;
  }
  

  .v2{
    .m-hero-item{
      float: left;
      clear: both;
      margin-top: -50px;
      
      &>div{
        width: 100%;
        height: 100%;
      }
    }
  }
  .row.details{
    max-width: 100%;
    width: 100%;
    top: 0 !important;
    bottom: 0 !important;
    padding: 25px;
    
  }
  

  .f-share{
    &:before{
      content: "\E72D";
      height: 14px;
      width: 14px;
      vertical-align: middle;

    }
  }
  .f-heart{
    &:before{
      content: "\EB52";
      color: white;
      text-shadow: 1px 0px #000, 0px 1px #000, 0 -1px #000, -1px 0 #000;
      height: 13px;
      width: 13px;
      margin-right: 8px;
      vertical-align: middle;
    }
    margin-right: 20px;
  }