.hero{
  position:relative;
 
  &.v2.v1{
    overflow: visible;
    z-index: 1;
    margin-bottom: 10%;
    &.video{
      height: 30vh;
      background: none;
      [data-grid=container]{
        bottom: 200px;
        padding-left: 7.5%;
        padding-right: 7.5%;
      }
    }
    [data-grid=container]{
      position: relative;

    }
  }
  video{
    // transform: translate3d(-50%, -50%, 0);
    position: absolute;
    // top: 48%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    // width: auto;
    // height: auto;
    width: 100%;
    // z-index: -100;
  }
}
.video-wrapper{
  height: 0;
  padding-bottom: 54.25%;
  overflow: hidden;
  position: relative;
  width: 101%;
}

.buybox.v2 {
  position: relative;
  z-index: 9;
  background: #fff;
  color: #000;
  text-align: left;
  padding: 25px;
  -webkit-box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  box-shadow: 0px 8px 48px -2px rgba(0,0,0,0.28);
  height: auto;
  max-width: 1600px;
  margin-top: 0;
  width: 100%;
  bottom: 40%; 
  float: left;
  top: 0;

  h1 {
  color :#000;
  text-align: left;
  font: 700 30px/34px "Segoe UI";
  padding: 0;
  }
  .by-ms {
    padding: 10px 0;
  }

  a.f-blue{
    color: @ms-blue !important;
    &:hover{
      text-decoration: underline;
    }
  }
  a.add-cart, a.store{
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    color: @white;
    font: 400 15px/20px "Segoe UI";    
  
  }
  .add-cart{
    background: @ms-blue;
    margin-bottom: 6px;
    &:hover{
      background: darken(@ms-blue, 10%);
    }
  }
  .store{
    background: #8A94A4;
    &:hover{
      background: darken(#8A94A4, 10%);
    }
  }  

  .price {
    font: 400 20px/26px "Segoe UI";
    padding-bottom: 5px;
  }
  .price-text span {
    font: 400 20px/26px "Segoe UI";
  }
  p.c-caption-3.x-hidden-focus{
    font: 400 13px/12px "Segoe UI";
    padding-bottom: 15px;
  }
  .save {
    font: 700 15px/14px "Segoe UI";
    padding-bottom: 5px;  
    padding-top: 10px;
  }
  .leading-actions {
    font-size: 13px;
  }
  .leading-actions .secondary-cta {
    color: #dc3c01;
  }
}
  ul.bullets {
    list-style: disc;
    padding: 10px 0 20px 20px;
    max-width: 90%;
  }
  
  ul.bullets li {
    font-weight: 300;
    font-family: SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  ul.bullets li a {
    font-size: 14px;
    font-weight: 800;
  }
  
  .hr-or {
    padding: 6px 0 10px 0;    
    position: relative;
  }
  .hr-or hr {
    display: inline-block;
    width: 100%;
    opacity: .5;
  }
  .hr-or span {
    top: 0;
    position: absolute;
    font-size: 13px;
    background: #fff;
    padding: 5px 15px;
    display: block;
    z-index: 1;
    right: 43%;
  }
  
  #additional-features.centered img {
    width: 100px;
  }
  

  .v2{
    .m-hero-item{
      float: left;
      clear: both;
      margin-top: -50px;
      
      &>div{
        width: 100%;
        height: 100%;
      }
    }
  }
  .row.details{
    max-width: 100%;
    width: 100%;
    top: 0 !important;
    bottom: 0 !important;
    position: relative;
  }
  .c-rating{
    padding-bottom: 10px;
  }

  .f-share{
    &:before{
      content: "\E72D";
      height: 14px;
      width: 14px;
      vertical-align: middle;

    }
  }
  .f-heart{
    &:before{
      content: "\EB52";
      color: white;
      text-shadow: 1px 0px #000, 0px 1px #000, 0 -1px #000, -1px 0 #000;
      font-size: 14px;
      margin-right: 8px;
      vertical-align: middle;
    }
    margin-right: 20px;
  }

