@ms-blue: #0078D7;
@smoke: #f0f0f0;
@black: #000000;
@white: #ffffff;
@dark-gray: #919191;

@smartphones: ~"only screen and (max-width: 479px)";
@tablets:  ~"only screen and (max-width: 767px)";
@desktop:  ~"only screen and (min-width: 768px)";
@lg-desktop: ~"only screen and (min-width: 1400px)";